@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


*{
    margin: 0;
    font-family: 'Poppins',sans-serif;
}

body{
    padding: 4rem;
    
}

h1 > span{
    color: red;
}

button{
    background-color: teal;
    color: whitesmoke;
    padding: .5rem 1rem;
    border: 0;
    cursor: pointer;
    box-shadow: 0 0 12px 8px rgba(0,0,0,.3);
}

button:hover{
    background-color: darkslategrey;
}